<h1>RegisteredApplications#edit</h1>
<p>Find me in app/views/registered_applications/edit.html.erb</p>

<h1>Edit Post</h1>

 <div class="row">

   <div class="col-md-8">
     <%= form_for @registered_apps do |f| %>

       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter title" %>
       </div>

       <div class="form-group">
         <%= f.label :url %>
         <%= f.text_field :url, rows: 8, class: 'form-control', placeholder: "Enter url" %>
       </div>

       <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
       </div>

     <% end %>


   </div>

 </div>
