<h1>RegisteredApplications#show</h1>
<p>Find me in app/views/registered_applications/show.html.erb</p>

<h1><%= @registered_apps.title %></h1>

<div>
 <p><%= @registered_apps.url %></p>
</div>


<div class="col-md-4">
  <%= link_to "Back to index", registered_applications_path, class: 'btn btn-primary' %>
  <%= link_to "Edit", edit_registered_application_path(@registered_apps), class: 'btn btn-success' %>
  <%= link_to "Delete Wiki", @registered_apps, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?'} %>
</div>

 <div class="row">

 </div>
